/* Estilos generales */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.App {
  text-align: center;
}

h1 {
  color: #333;
}

/* Estilos para encabezados y secciones principales */
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Estilos para listas */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Nuevos estilos añadidos */
.hero-section {
  background-color: #f4f4f9;
  padding: 50px 0;
}

.hero-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

/* Estilos para la vista general de servicios */
.services-overview {
  padding: 40px;
  background-color: #ffffff;
}

.service-cards {
  display: flex;
  justify-content: space-around;
}

.service-card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
}

/* Estilos para testimonios */
.testimonials {
  padding: 50px;
  background-color: #f1f1f1;
  text-align: center;
}

.testimonials h2 {
  margin-bottom: 20px;
}

.testimonials p {
  font-style: italic;
}

/* Estilos para el carrusel de imágenes */
.carousel {
  height: 75vh; /* Ajusta este valor según el tamaño que deseas para el carrusel */
}

.carousel-item img {
  width: 100%;
  height: 75vh; /* Cambia este valor para ajustar la altura de las imágenes del carrusel */
  object-fit: cover; /* Asegura que las imágenes mantengan la proporción */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto del carrusel */
  padding: 30px;
  border-radius: 10px;
}

.carousel-caption h3 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.carousel-caption p {
  color: white;
  font-size: 1.2rem;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .carousel-item img {
    height: 70vh; /* Ajusta la altura para pantallas pequeñas */
  }

  .service-cards {
    flex-direction: column; /* Las tarjetas de servicio se alinearán en una columna en pantallas pequeñas */
    align-items: center;
  }

  .service-card {
    width: 80%; /* Ajusta el ancho de las tarjetas de servicio en pantallas pequeñas */
    margin-bottom: 20px;
  }
}
